@import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Oswald:wght@300&display=swap");
:root {
  --lightGreen: #53b8bb;
  --textColor: #003638;
  --sectionColor: #f3f2c9;
  --heading: "Gabriela", serif;
  --sectionText: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #055052;
  height: 100vh;
}

header {
  background-color: var(--lightGreen);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

header .logo {
  margin: 0 50px;
  font-family: var(--heading);
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 61px;

  color: var(--textColor);
}

main .search {
  margin: 0 50px;
}

main .search input {
  width: 800px;
  height: 100px;
  border: solid var(--sectionColor) 2px;
  background-color: var(--textColor);
  font-size: 2em;
  color: white;
}

main .search input::placeholder {
  color: white;
  text-align: center;
  animate: infinite jackInTheBox;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
/*   grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."; */
/*   background: coral; */
  height: 50vh;
}

main section {
  background-color: var(--sectionColor);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vw;
  margin: 100px 10px;
  border-radius: 60px;
  cursor: pointer;
}

main section h1 {
  font-family: var(--sectionText);
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 71px;
  color: var(--textColor);
}

footer {
  background-color: var(--lightGreen);
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 100px 0;
}

footer logo {
  display: flex;
  align-items: center;
}

footer logo img {
  width: 10em;
}

footer logo h1 {
  color: var(--textColor);
  font-family: var(--heading);
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 61px;
}
