@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia+Sans+Condensed:wght@600&display=swap");

:root {
  --textColor: #303742;
  --heading: "Bebas Neue", cursive;
  --heading2: "Sofia Sans Condensed", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
}

#search-form {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 5px grey;
}

#search-input {
  flex-grow: 1;
  border: none;
  margin-right: 8px;
  font-size: 16px;
  color: var(--textColor);
}

#search-button {
  border: none;
  background-color: var(--textColor);
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  font-family: var(--heading);
  color: var(--textColor);
  text-align: center;
  font-size: 10em;
}

/* Basic styles for search suggestions dropdown */
#search-suggestions {
  position: absolute;
  z-index: 1;
  top: 50px;
  width: 100%;
  max-height: 200px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0px 0px 5px grey;
}

/* Styles for search suggestion list items */
#search-suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Styles for selected search suggestion */
#search-suggestions .selected {
  background-color: #f1f1f1;
}
